.navBar { 
    width: auto;
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translate(-50%, 20px); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg-color);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.visible {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, 0);
}

.navItem { 
    display:block;
    padding: 0.8rem 1rem ;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

.navItem:hover {
    color: var(--accent-color);
    transform: scale(1.2);
}

.navItem:active {
    transform: scale(0.7);
}

@media (max-width: 768px) {
    .navBar {
        width: 80%;
        position: absolute;
        bottom: 0;
        left: 50%; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--bg-color);
        border-top: 1px solid var(--border-color);
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        z-index: 10;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s ease;
    }

    .navItem {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .visible {
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, 0);
}
}