* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important; 
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

.app-container {
    width: 100%;
    height: 100dvh;
    background-color:var(--bg-color);
    color: var(--text-color);

    /*Lo cambiare con three.js*/
    background-image: radial-gradient(var(--bg-img-color) 1px, transparent 1px);
    background-size: 20px 20px;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.index-toggle {
    position: fixed;
    bottom: 4.5rem;
    right: 4.5rem;
    left: auto;
    background: transparent;
    border: none;
    font-family: 'Inter', sans-serif; 
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: var(--text-color);
    cursor: pointer;
    z-index: 100; 
    transition: color 0.3s ease;
}

.index-toggle:hover {
    color: var(--accent-color);
}



/*-----------------------Responsive----------------------*/

@media (max-width: 768px) {

    * {
        cursor: auto !important;
    }

    html, body {
        overflow: hidden; 
    }

    .index-toggle {
        bottom: 2.5rem;
        right: 1.5rem;
    }
}

:root [data-theme="light"] {
    --bg-color: hsl(0, 0%, 90%);
    --text-color: hsl(0, 0%, 10%);
    --accent-color: rgb(138, 43, 226);
    --border-color: rgba(0, 0, 0, 0.5);
    --tag-color: #555;
    --bg-img-color: #ccc;
}

:root [data-theme="dark"] {
    --bg-color: hsl(0, 0%, 5%);
    --text-color: hsl(0, 0%, 95%);
    --accent-color: rgb(186, 122, 247);
    --border-color: hsla(0, 0%, 100%, 0.5);
    --tag-color: #aaaaaa;
    --bg-img-color: #cccccc2f;
}

